@import '../bourbon/bourbon'

@import 'fancytext.sass'
@import 'arrow-down.sass'
@import 'contact.sass'

@font-face
  font-family: Noway
  src: url("../font/Noway-Regular.otf") format("opentype")

.content
  width: 100%
  text-align: center

.section
  height: 100vh
  width: 50%
  margin: 0 auto

.img-circle
  margin-top: 10%
  width: 150px
  height: 150px
  border-radius: 50%

.main-content
  font-size: 2vw
  margin-top: 10%
